<% if @article.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @article, remote: true do |f| %>
    <div class="form-group">
        <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Title here ..' %>
    </div>

    <div class="form-group">
        <%= f.text_area :content, class: 'summernote', style: 'height: 250px' %>
    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <div class="btn-group pull-right" role="group">
          <input type="submit" value="Save to Draft" class="btn btn-default btn-lg" data-loading-text="Saving ..." name="draft" id="draft-btn">
          <input type="submit" value="Publish" class="btn btn-primary btn-lg" data-loading-text="Saving ..." name="publish" id="publish-btn">
        </div>
      </div>
    </div>

<% end %>
