<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <header class="page-header">
              <h1 class="home-quotes">
                "Sebab apalagi yang disisakan kematian, selain kenangan dan kata-kata."
              </h1>
            </header>
            <% @articles.each do |item| %>
              <%= render 'partials/article_list',item: item if item.published? %>
            <% end %>

            <%= will_paginate @articles %>
        </div>
    </div>
</div>
